header {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  width: 100vw;
}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}

.inputHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.titleBurguer {
  font-size: 1.5rem;
}

.titleKenzie {
  color: rgba(255, 0, 0, 0.603);
}

input {
  padding: 0.5rem;
  border: none;
  background: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
}

.btnPesquisar {
  background: #27ae60;
  border: 2px solid #27ae60;
  border-radius: 8px;
  color: white;
}

.inputHeader svg {
  position: relative;
  right: 1.5rem;
  top: 0.6rem;
  color: #e0e0e0;
}

@media screen and (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .Logo {
    margin-left: 5rem;
  }

  .inputHeader {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    height: 3rem;
  }
  .inputHeader svg {
    top: 1rem;
  }
}
